@import "tailwindcss";

@theme {
  --color-bg-sidebar: #171717;
  --color-bg-mainCard: #f3f5ed;
  --color-bg-card: #ffffff;
  --color-icon: #909611;
  --color-bg-chart:#f7f7ed;
  --color-text: #141414;
   --color-border:#898a83;
  --color-bg-hover:#3f4039;

    


--font-mona: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  font-family: var(--font-mona);
  @apply bg-white text-[--color-text];
}



/* Scrollbar chupane ke liye utility class */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Sidebar aur baki scrollable areas ke liye clean custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #374151; /* Sidebar ke liye dark gray */
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #4b5563; /* Hover par thoda light */
}